/* =================================================================================
~ Commonly known CSS fixes for IE related things
~ https://jeffclayton.wordpress.com/2014/07/22/internet-explorer-css-hacks-collection/
~ https://bl.ocks.org/feo52/raw/b6198873e0bbaeda098e4ca6f62ca887/
~ http://browserhacks.com/
================================================================================= */

// IE11: prevent flex shorthand from invalidating element widths
body {
	* {
		// for property explanation: https://css-tricks.com/almanac/properties/f/flex/
		flex: none;
	}
}

// IE11: remove the default dropdown arrow on select boxes
select {
	&::-ms-expand {
		display: none;
	}
}


// IE10 & IE11 specific media query
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	body::after {
		content: "Internet Exploer 10 Detected";
	}

	*::-ms-backdrop,
	body::after {
		content: "Internet Exploer 11 Detected";
	}
}
