@mixin center-align($direction: false) {
	position: relative;

	@if $direction == 'vertical' {
		top: 50%;
		transform: translateY(-50%);
	}

	@if $direction == 'horizontal' {
		left: 50%;
		transform: translateX(-50%);
	}
}
