// responsive video elements
@mixin responsive-video($element) {
	height: 0;
	padding-bottom: 56.25%;
	position: relative;
	width: 100%;

	#{$element} {
		left: 0;
		height: 100%;
		position: absolute;
		top: 0;
		width: 100%;
	}
}
