/**
 * Base - global styles, utilities, mixins, and variables
 */
@import "base/functions";
@import "base/variables";
@import "base/mixins";
@import "base/utilities";
//@import "base/bootstrap";
@import "base/fonts";
@import "base/reboot";


/**
 * Components - reusable components
 */
@import "components/main";
@import "components/body";
@import "components/content";
#ctp_recall {
	position: fixed;
	bottom: 0;
	z-index: 99999;

	@include media-breakpoint-up(md) {
		display: none;
	}
}

@import "components/footer";
@import "components/form";
@import "components/search-input";
@import "components/header";
@import "components/menu";
@import "components/modal";
@import "components/page-header";
@import "components/news";
@import "components/pagination";
@import "components/vin-look-up";
@import "components/vin-how-to";
@import "components/vin-search";
@import "components/call-to-actions";
@import "components/vin-results";
@import "components/results-vin-look-up";
@import "components/wysiwyg";
@import "components/button";
@import "components/accordion";
@import "components/social-share";
@import "components/add-to-calendar";


/**
 * Modules – modules that are used throughout multiple templates
 */
@import "modules/hero";
@import "modules/widget";



/**
 * Templates - styles specific to an individual page or template
 */
@import "templates/page-home";
@import "templates/page-results";
@import "templates/page-bulk-lookup";
@import "templates/page-not-found";
@import "templates/page-news-archive";
@import "templates/page-event";


/**
 * Extras
 */
@import "wordpress/components/admin-bar";		// admin bar styling when viewed outside of wp-admin
@import "debugging/pre-debug";					// pre.debug wrapper for mg_debug() output
//@import "debugging/debugging";					// DO NOT ENABLE WHEN BUILDING PRODUCTION ASSETS
